.form {
    width: 100vw;
    height: 100vh;
   background-image: url('https://fondosmil.com/fondo/10219.jpg');
   background-repeat: no-repeat;
   background-size: 100vmax;
   background-attachment: fixed;
}