.navAll {
    background-color: rgba(0, 0, 0, 0.473);
    align-items: center;
    display:flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 58px;
    padding-right: 58px;
    margin-top: 0px;
    /* justify-content: space-between; */
}

.title {
    font-size: 36px;
    margin-right: 64.57vw;
    color: white;
}

.about {
    color: white;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: relative;
    left: 30px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.about:hover {
    color: rgb(199, 199, 199);
}