.ordereds {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding-top: 3px;
     padding-bottom: 3px;
     align-items: center;
     
 }

.ordereds h3 {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--main-color);
}

.select {
    display: flex;
    justify-content: left;
    width: 120px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 17px;
    border-radius: 15px;
    background-color: white;
    color: var(--main-color);
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    /* border: 2px rgb(0, 2, 138) solid; */
    outline: none;
    margin-right: 5px;
}

.select:hover {
    background-color: rgba(129, 129, 129, 0.76);
}