.box {
    justify-content: center;
    display: flex;
}

.paginado {
    border-radius: 12px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     /* background-color: var(--main-color); */
     list-style: none;
     margin-top: 13px;
     width: max-content;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
 }

 .number {

 }

 .buttons {
     cursor: pointer;
     border: transparent;
     background-color: var(--main-color);
     color: white;
     cursor: pointer;
     margin-left: 4px;
     margin-right: 4px; 
     width: 26px;
     height: 22px;
     border-radius: 8px;
 }
 .buttons:hover{
    background-color: rgb(146, 146, 146);
    color: white;
 }